@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-white text-slate-900;
  }
  #root {
    @apply min-h-screen;
  }
  img,
  svg,
  video,
  canvas {
    max-width: 100%;
    height: auto;
  }
}
